<div class="contactinfoclass row">
  <div class="row">
    <button class="two columns">Remind</button>
    <div class="two columns">
      <input  type="checkbox" name="standout" ng-model="standout" />
      <p>Stand Out</p>
    </div>
    <div class="two columns">
      <input type="checkbox" name="convoinit" ng-model="convoinit" />
      <p>Initiate Convo</p>
    </div>
    <div class="two columns" >
      <input type="checkbox" name="invite" ng-model="invite" />
      <p>Invite</p>
    </div>
    <div  class="two columns">
      <input type="checkbox" name="challenger" ng-model="challenger" />
      <p>Challenger</p>
    </div>
    <div class="two columns">
      <input type="checkbox" name="nevercontaxt" ng-model="nevercontact" />
      <p>Never Contact</p>
    </div>
  </div>
  <div class="row">
    <form>
      <div>
        <label for="name">Name: </label>
        <input type="text" id="name" ng-model="name" />
      </div>
      <div>
        <label for="name">Occupation: </label>
        <input type="text" id="occupation" ng-model="occupation" />
      </div>
      <div>
        <label for="family">Family: </label>
        <input type="text" id="family" ng-model="family" />
      </div>
      <div>
        <label for="goals">Goals: </label>
        <input type="text" id="goals" ng-model="goals" />
      </div>
      <div>
        <label for="struggles">Strugges: </label>
        <input type="text" id="struggles" ng-model="struggles" />
      </div>
      <div>
        <label for="notes">Notes: </label>
        <textarea id="notes" ng-model="notes"></textarea>
      </div>
      <div>
        <button>Save</button>
        <button>Upcoming Follow-ups</button>
      </div>

    </form>

  </div>
</div>
