body {
  font-family: 'Ubuntu', sans-serif;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.indexbody {
  background-image: url(../images/backgrounds/indexbg.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}

h1 {
  font-size: 5em;
  text-align: center;
  border-bottom: .15em solid #e74c3c;
  margin-bottom: 0;
}

.userNav {
  margin: 0 auto;
  width: 50%;
  line-height: 3em;
}

.navbar {
  line-height: 0;
  margin-top: 1em;
}
ul {
  text-align: center;
}

li {
  list-style-type: none;
  display: inline;
  margin: .3em;
}

.addContact, .addReminder {
  margin: 1em;
}

.table {
  margin: 0 auto;
  border: .5em solid #e74c3c;
  padding: 1em;
}

.addcontact {
  margin: 1em;
}

.contactinfoclass {
  width: 80%;
  margin: auto;
  border: .5em solid #e74c3c;
  padding: 1em;
}

label {
  display: inline-block;
  width: 100px;
  text-align: left;
}

.moreinfo {
  margin: 3em 1em 1em 1em;
}

.contactHover:hover {
  cursor: crosshair;
}

.contactinfoclass {
  margin-top: 1em;
}

td img {
  height: 3em;
  vertical-align: middle;
  margin-left: 1em;
}

.contactInfoIcons {
  width: 100%;
  text-align: center;
}
.contactInfoIcons img {
  height: 3em;
  vertical-align: middle;
  margin: 0 2em 0 2em;
}

th {
  font-weight: bold;
}

.authbuttondiv {
  text-align: center;
  line-height: 30em;
}

.authbuttons {
  background-color: white;
}

button {
  background-color: white;
}

.reminderComplete {
  background-color: lightgreen;
}

/*fixed headers*/
table.table{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 40em;
}

table.tablecontroll * {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
}

thead.tablecontroll {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

tbody.tablecontroll {
  overflow-y: scroll;
  display: inline-block;
}

thead.tablecontroll > tr, tbody.tablecontroll > tr, tfoot.tablecontroll > tr {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

thead.tablecontroll, tfoot.tablecontroll {
  flex-shrink: 0;
}

th.tablecontroll, tbody.tablecontroll td {
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

tfoot.tablecontroll {
  display: inline-block;
}

tfoot.tablecontroll td {
  width: 100%;
  display: inline-block;
}

.searchbox {
  margin-bottom: 0;
}

.st-sort-ascent:before {
  content: '\25B2';
}

.st-sort-descent:before {
  content: '\25BC';
}

.calendar {
  width: 80%;
  margin: 0 auto;
}
.calendar button {
  color: #e74c3c;
  line-height: 1em;
}

.remindIcon {
  margin: 1.2em 1em 0 0;
}

img {
  cursor: pointer;
}
