.headerContainer {
  background-color: gray;
}

h1 {
  text-align: center;
}

.userNav {
  text-align: right;
}

ul {
  text-align: center;
}

li {
  list-style-type: none;
  display: inline;
  margin: .3em;
}

.scrollable-area {
  margin: auto;
  width: 80%;
  height: 35em;
  border: .5em solid #ccc;
  overflow-y: scroll; /* <-- here is what is important*/
  overflow-x: scroll;
}

.addContact {
  margin: 1em;
}

.table {
  margin: 0 auto;
}

.addcontact {
  margin: 1em;
}

.contactinfoclass {
  width: 80%;
  margin: auto;
  border: .5em solid #ccc;
  padding: 1em;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
}

.contactHover:hover {
  cursor: crosshair;
}
