.headerContainer {
  background-color: gray;
}

h1 {
  text-align: center;
}

.userNav {
  text-align: right;
}

ul {
  text-align: center;
}

li {
  list-style-type: none;
  display: inline;
  margin: .3em;
}

.addContact {
  margin: 1em;
}

.table {
  margin: 0 auto;
}

.addcontact {
  margin: 1em;
}

.contactinfoclass {
  width: 80%;
  margin: auto;
  border: .5em solid #ccc;
  padding: 1em;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
}

.moreinfo input {
  width: 75%;
}
.moreinfo textarea {
  width: 75%;
  max-width: 75%;
}

.contactHover:hover {
  cursor: crosshair;
}

td img, .contactinfoclass img {
  height: 3em;
  vertical-align: middle;
}

.dateDisplay {
  display: none;
}

th {
  font-weight: bold;
}
